fieldset { /* Set Background and border */
    width:300px ;
    background-color: darkgray;
}

select { /* Combo box */
    margin-left: 160px;
    background-color: rgb(207, 203, 203);
    color: white;
    width: 50px;
    height: 25px;
}

h1 { /* Title */
    font-size: 30px;
    Margin-left:40px;
}

table {
    margin-left: 35px;
    font-size: 20px;
}

hr{
    border-width: 2px;
}

#totalBox {
    margin-left: 55px;
    display:block;
}

button {
    margin-left: 70px;
    width: 175px;
    height: 30px;
}